/* 
1200px - container = max-width: 970px;
992px - container = max-width: 750px;
768px - container = max-width: unset;
576px - container = max-width: unset;
475px - container = max-width: unset;
375px - container = max-width: unset;
320px - container = max-width: unset;
*/

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .about__content {
        flex-direction: column;
        align-items: center;
    }

    .about__left,
    .about__right {
        width: 100%;
    }

    .about__title {
        text-align: center;
    }

}

@media (max-width: 768px) {
    .container {
        max-width: unset;
    }

    .nav__menu-icon {
        display: inline-block;
    }

    .nav__menu-icon:focus~.nav__list {
        opacity: 1;
    }

    .nav__menu-icon-close {
        display: flex;
    }

    .nav__list {
        position: absolute;
        top: 77px;
        opacity: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        padding: 30px 50px;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
        border-radius: 0 0 0 20px;
        transition: .6s;
    }

    .nav__item {
        padding: 5px;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
    }

    .work__content {
        flex-direction: column;
        align-items: center;
    }

}